.cit {
	width: 600px;
	background-color: white;
	overflow: hidden;
}
.cit ul {
	position: absolute;
	top: -26px;
	left: 605px;
}
li {
	position: absolute;
	width: 600px;
	height: 320px;
	left: -605px;
	list-style: none
}
.mad {
	overflow: visible;
	width: 600px;
	height: 320px;
}
.had {
	position: absolute;
	width: 600px;
	height: 320px;
	background-size: 600px 320px;
}

.firs {
	background-image: url('');
	animation: swipe 24s linear infinite 0s;	
}

swipe {
	0% {
		left: 0px;
	} %5{
		left: 0px;
	} 20% {
		left: 0px; 
		opacity: 1;
		z-index:0;
	} 25% {
		left:-600px;
		opacity: 0;
		z-index:0;
	} 26% {
		left: 600px;
		opacity: 0;
		z-index: -1;
	} 90% {
		left: 600px;
		opacity: 0;
		z-index: -1;
	} 95% {
		left: 600px;
		opacity: 0;
	} 100% {
		left: 0px;
		opacity: 1;
	}
